
#trackCanvas {
  display:flex;
  border: solid 1px red;
  margin: 0 auto;
  width:100%;
}


.render-layer1 {
  position: absolute;
  left:0;
  top:0;
  z-index: 0;
}

.render-layer2 {
  position: absolute;
  left:0;
  top:0;
  z-index: 1;
}

.seeking-container {
  
}

.telemetry-container {
  width:40vw
}

.card {
  border: 1px dashed red;
  width:100%;
  padding:0.5rem;
  font-size:1.5rem;
  text-align: center;
}


/* Gauges */

.gauge-holder {
  width:100%;
  margin:auto;
  margin-top: 3%;
}

.gauge {
  width:100%;
  max-width:250px;
  color: #009578;
  font-size: 150%;
}

.gauge-body {
  width:100%;
  height:0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge-fill {
  position: absolute;
  top:100%;
  left:0;
  width: inherit;
  height:100%;
  background:#009578;
  transform-origin:center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge-cover {
  width:75%;
  height:150%;
  background:white;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  
  /* Text */
  display:flex;
  align-items:center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}